# Ignorar carpetas de build
bin/
obj/
out/

# Ignorar dependencias temporales
node_modules/
packages/

# Ignorar configuración sensible
*.user
*.vspscc
*.suo
*.swp
*.dbmdl
*.jfm
*.log

# Ignorar sistema operativo
.DS_Store
Thumbs.db

# Ignorar Git y CI
.git
.gitignore
.gitattributes
.github/

# Ignorar archivos de IDE
.vs/
.idea/
.vscode/

bin/
obj/
**/bin/
**/obj/
*.db
*.mdf
*.ldf
*.bak
*.log
*.sql
*.sqlite

#por que tengo la carpeta de los volumenes de docker y por las duda q me cree la imagen con eso 
**/sqlserver_data/
**/pgadmin_data/
**/mysql_data/
.git/


# Directorios de build
**/bin/
**/obj/
**/out/
**/.vs/

# Archivos de usuario de Visual Studio
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates

# NuGet
**/packages/
**/.nuget/
**/project.lock.json
**/project.fragment.lock.json
**/artifacts/

# Archivos de configuración local
**/appsettings.Development.json
**/launchSettings.json

# Git
.git/
.gitignore
.gitattributes

# Docker
**/Dockerfile*
**/docker-compose*
**/.dockerignore

# IDE
.vscode/
.idea/

# Testing
**/TestResults/

# Coverage
**/coverage/
**/*.coverage
**/*.coveragexml

# Otros
**/*.md
**/LICENSE
**/.env